<div class="container">
  <h1>spirits and stuff</h1>

  <h4><%= link_to "add a new cocktail", new_cocktail_path %></h4>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
    <%= link_to cocktail.name.downcase, cocktail_path(cocktail)%>
    </div>
    <% end %>
  </div>
</div>





